$head-light-color: #162947;
$body-light-color: #162947;
$input-select-bg: #fff;
$button-primary-color: #2c81da;
// 按钮样式
.ivu-btn-text:hover {
  background-color: transparent;
}
.ivu-btn-ghost.ivu-btn-primary {
  color: $button-primary-color;
}
.ivu-btn-ghost.ivu-btn-primary:hover {
  background-color: transparent !important;
}
// 弹窗样式
.ivu-modal-wrap {
  .ivu-modal {
    .ivu-modal-content {
      background: #fff !important;
      .ivu-modal-header {
        background: $head-light-color;
        .ivu-modal-header-inner {
          text-align: left;
          color: #bccfde;
        }
      }
      .ivu-modal-body {
        padding: 10px 25px !important;
        background: $body-light-color;
      }
      .ivu-modal-footer{
        background: $body-light-color;
      }
    }
  }
}
/*
 *输入框样式
*/
// .ivu-input {
//   background: #1d3655;
//   border: 0;
//   color: #a5abbb;
// }

/*
 *下拉框
*/
.ivu-select {
  color: #b5b9c9;
  .ivu-select-selection {
    background-color: $input-select-bg;
    // 标签
    .ivu-tag {
      background: #f7f7f7;
      border: 1px solid #315180;
      .ivu-tag-text {
        color: #515a6e;
      }
      .ivu-icon-ios-close {
        color: #b5bbc9;
      }
    }
  }
  .ivu-select-dropdown {
    background-color: $input-select-bg;
    .ivu-select-item {
      color: #000;
    }
    .ivu-select-item-selected,
    .ivu-select-item-selected:hover {
      background: #2d8cf0;
      color: #fff;
    }
    .ivu-select-item:hover {
      background: #2d8cf0;
      color: #fff;
    }
  }
}

/*
 *表格样式
*/
.ivu-table {
  background-color: transparent !important;
  color: #b5b9c9 !important;

  &:before{
    display: none;
  }
}
.ivu-table td {
    border-bottom:none !important;
    background-color: #274859 !important;
    .ivu-table th {
      border-bottom: none;
    }
  }
.ivu-table th {
    background-color: #21437a !important;
    color: #fff;
    border-right: 1px solid #365280;
    height: 40px !important;
    border-bottom:none !important;
    .ivu-table-cell {
        padding: 0;
    }
  }
// 斑马纹颜色
.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td,
.ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
  background-color: #274859 !important;
}
.ivu-table-stripe .ivu-table-body tr:nth-child(2n-1) td,
.ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n-1) td {
  background-color: #2d3d60 !important;
}
.ivu-table-row-hover td {
  background-color: #2d3d60 !important;
}
.ivu-table-row a:hover {
  outline: 0;
  text-decoration: underline !important;
}
.ivu-table-cell-tree{
    border: none !important;
    background: transparent !important;
}
.ivu-spin-fix{
    background-color: transparent !important;
}
/*
 *多选框
*/
.ivu-checkbox-wrapper {
  margin-right: 0px;
}
.ivu-checkbox {
  display: none;
}
.ivu-checkbox-group-item {
  color: #b5bbc9;
//   border: 1px solid #315280;
  border-radius: 0;
}
.ivu-checkbox-wrapper-checked {
  color: #ffffff;
}
.ivu-checkbox-wrapper:first-child {
  border-radius: 4px 0 0 4px;
}
.ivu-checkbox-wrapper:last-child {
  border-radius: 0 4px 4px 0;
}

// 气泡提示框
.ivu-poptip {
    .ivu-poptip-rel{
        display: block;
    }
    .ivu-form .ivu-form-item{
        margin-bottom: 3px;
    }
  .ivu-poptip-arrow:after {
    border-bottom-color: #1e3555 !important;
  }
  .ivu-poptip-inner {
    background: #1e3555;
    .ivu-poptip-body-content-inner {
      color: #b5b9c9;
    }
    .ivu-poptip-body-content {
      color: #b5b9c9;
    }
  }
}
// 文字提示框
.ivu-tooltip{
    .ivu-tooltip-rel{
        display:block
    }

}
// 分页器
.ivu-page {
  .ivu-page-disabled,
  .ivu-page-next,
  .ivu-page-prev {
    background-color: #1d3655;
  }
  .ivu-page-next,
  .ivu-page-prev {
    border: none;
  }
  .ivu-page-next a,
  .ivu-page-prev a {
    color: #818ba4;
  }
  .ivu-page-disabled a {
    color: #666;
  }
  .ivu-page-item {
    background: transparent;
    border: none;
  }
  .ivu-page-item a {
    color: #818ba4;
  }
  .ivu-page-item-active a,
  .ivu-page-item-active:hover a {
    color: #227fdf;
  }
  // 分页器后半段
  .ivu-page-options {
    // 条数
    .ivu-page-options-sizer {
      .ivu-select-selection {
        background: #1d3251;
        border: 1px solid transparent;
      }
      .ivu-select {
        color: #818ba4;
        .ivu-select-dropdown {
          background: #1e3555;
          .ivu-select-item {
            color: #b5bbc9;
          }
          .ivu-select-item-selected,
          .ivu-select-item:hover {
            background: #28446b;
            color: #fff;
          }
        }
      }
    }
    // 跳转
    .ivu-page-options-elevator {
      color: #818ba4;
      input {
        color: #b5bbc9;
        background-color: #1e3555;
        border: 1px solid transparent;
      }
    }
  }
}
// 日期选择器
.ivu-date-picker {
  .ivu-select-dropdown {
    background: #1d3655;
  }
  .ivu-picker-confirm-time {
    background: #1d3655;
  }
  .ivu-picker-confirm-btn-cancel {
    background: transparent;
    color: #fff;
  }
  .ivu-time-picker-cells-cell {
    color: #fff;
  }
  .ivu-time-picker-cells-cell-selected,
  .ivu-time-picker-cells-cell:hover {
    background: #28446b;
    color: #fff;
  }
}

// 表单
.ivu-form {
  .ivu-form-item {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .ivu-form-item-label {
    color: #fff !important;
  }
}
// 行内表单的单独设置
.ivu-form-inline {
  .ivu-form-item {
    min-width: 50%;
  }
}
